@model DataAccess.User

@using (Html.BeginForm())
{ 
    <fieldset class="log-og-register">
        <legend>Do you have the account?</legend>
        <div>
            @Html.Label("Login:")
        </div>
        <div>
            @Html.TextBoxFor(model => model.Username)
        </div>
        <div>
            @Html.Label("Password:")
        </div>
        <div>
            @Html.PasswordFor(model => model.Password)
        </div>
        <div class="cookie-panel">
            <label>@Html.CheckBox("cbRememberMe")Remember me</label>
        </div>
        <div class="buttons-panel">
            <div class="register-link">
                @Html.ActionLink("Register", "Register", "Profile")
            </div>
            <input class="login-button" id="btnLogin" type="submit" value="Login" />
        </div>
    </fieldset>
}