@model MakingFoosball.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>Register new account</h2>
</hgroup>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <fieldset>
        <legend>Registration form</legend>
        <ul>
            <li>
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName)
            </li>
            <li>
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password)
            </li>
            <li>
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.PasswordFor(model => model.ConfirmPassword)
            </li>
        </ul>
        <button type="submit" id="btnRegister">Register</button>
    </fieldset>
}
